:root {
    --font-size--: 13px;
    --font-size-large--: 18px;
    --color-black--: #3b3b3b;
    --color-gray--: #aaaaaa;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareNeo-Variable';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-black--);
}

header {
    padding: 100px;
    text-align: center;
}

header img {
    width: 300px;
}

article {
    margin-bottom: 100px;
}

ul {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 2%;
}

li {
    width: 30%;
    list-style: none;
    cursor: pointer;
    transition: all 300ms linear;
}

li img {
    width: 100%;
}

li a {
    color: var(--color-black--);
    text-decoration: none;
    font-size: var(--font-size--);
    letter-spacing: 1px;
}

li p {
    font-size: var(--font-size--);
    margin-top: 10px;
    line-height: 1.5em;
}

.red {
    color: #c72b35;
}

.gray {
    color: var(--color-gray--);
}

.product__name {
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.product__price {
    margin-top: 10px
}

.product__price span {
    font-size: var(--font-size-large--);
    font-weight: bold;
    color: var(--color-gray--);
    text-decoration: line-through;
}

.product__price .discount {
    color: var(--color-black--);
    text-decoration: none;
    margin-left: 20px;
}

.detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.detail__img {
    width: 45%;
}

.detail__img img {
    width: 100%;
}

.detail__con {
    width: 53%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail__con >div{
    margin-bottom: 20px;
}
.detail__con a {
    font-size: 25px;
}

.detail_option{
    width: 100%;
}
.detail_option > div{
    width: 100%;
    margin: 10px 0;
}
.detail_option label{
    display: inline-block;
    width: 33%;
}
.detail_option select{
    width: 65%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--color-gray--);
    border-radius: 5px;
}
.btn_wrap {
    width: 100%;
}

.btn_wrap button {
    font-size: var(--font-size-large--);
    padding: 10px 33px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: var(--color-black--);
}
.btn_wrap button:last-child{
    color: #fff;
    background-color: #d7c9cf;
}
.btn_wrap input[type="number"] {
    width: 50px;
    height: 50px;
    background-color: var(--color-gray--);
    color: #fff;
    border: none;
    text-align: center;
    font-size: var(--font-size-large--);
    border-radius: 5px;
    padding-left: 13px;
}

.btn_wrap input[type="number"]::placeholder {
    color: #fff;
}

@media screen and (max-width : 840px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
    }

    header img {
        width: 70%;
        height: auto;
    }

    li {
        margin: 0 0 10px 0;
        width: 48%;
    }
}

@media screen and (max-width : 600px) {
    li {
        width: 100%;
    }
}